table {
    background-color: #d9d9d9;
    margin: auto;
    height: 80%;
    width: 30%;
    border-spacing: 0.75em 1em;
    border: 2px solid #b9b9b9;
    border-radius: 3%;
  }
  td {
    text-align: center;
    font-size: larger;
  }
  button {
    height: 100%;
    width: 100%;
    font-size: large;
  }

  #display {
    text-align: left;
    padding-left: 30px;
    background-color: #b9b9b9;
    font-size: xx-large;
  }
  #equals {
    background-color: #0d6efd;
    color: white;
    text-align: center;
    font-size: larger;
  }